.owners {
    width: 42%;
    display: inline-block;
    padding: 0 3%;
}

.owners a {
    color: #000;
}

.owners.right {
    border-left: 1px solid #ddd;
}

.owners h2 {
    font-size: 15px;
    line-height: 32px;
    position: relative;
    padding-left: 45px;
}

.owners h2:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url('../images/icon-lightbulb-32.png');
    position: absolute;
    left: 0;
    top: 0;
}

.owners .image {
    width: 350px;
    height: 350px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.owners .description {
    width: 350px;
    margin: 30px auto 0;
    font-size: 15px;
}

.owners .description tr td {
    padding: 8px 0;
    border-bottom: 1px dotted #ddd;
}
