header {
    background: url('../images/background-pattern.jpg') -80px;
    height: 320px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.logo {
    width: 265px;
    height: 265px;
    background: url('../images/logo.png');
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -132.5px;
    border: none;
    text-decoration: none;
}

.fork {
    width: 150px;
    height: 150px;
    background: url('../images/fork-me.png');
    background-size: 150px;
    position: absolute;
    right: 0;
    top: 0;
}

nav {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
}

nav ul {
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

nav ul li {
    list-style: none;
}

nav ul li:first-child a {
    margin-left: 0;
}

nav ul li a {
    float: left;
    background: #c9194c;
    padding: 10px 0;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

nav ul li a:hover {
    background: #db1d4d;
}

nav ul li a.current {
    border-bottom: 10px solid #ddd;
    position: relative;
    top: -10px;
}
