html, body {
    margin: 0;
    padding: 0;
}

.barrauol {
    height: 44px;
    background: red;
    width: 100%;
}

.logo {
    height: 60px;
    background: blue;
    width: 100%;
    position: relative;
}

.logo .nav {
    background: green;
    top: 104px;
    float: left;
    width: 208px;
    height: -webkit-calc(100% - 104px);
    height: calc(100% - 104px);
    position: fixed;
    z-index: 500;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.logo .nav ul {
    margin: 0;
    padding: 0;
}

.logo .nav ul li {
    margin: 0;
    padding: 10px;
    color: white;
}

.logo .nav-no-barrauol {
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    top: 60px;
}
